html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0; }

body {
  background-image: url("https://images.unsplash.com/photo-1506370612293-360919ece3d9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=30");
  background-color: #66583d;
  background-size: cover;
  overflow: hidden;
  display: grid;
  grid-template-rows: 30px 1fr;
  height: 100vh; }

.top-bar {
  color: white;
  background: #2f2d26;
  padding: 0 1%; }
  .top-bar, .top-bar .segment {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .top-bar .menu-item {
    padding: 1px .25rem;
    margin: 0 .5rem;
    font-weight: 300;
    font-size: .85rem;
    cursor: pointer; }
    .top-bar .menu-item.icon {
      margin: 0 .25rem; }
    .top-bar .menu-item.has-content {
      display: flex;
      align-items: center;
      margin: 0; }
      .top-bar .menu-item.has-content img {
        margin-left: .5rem; }
  .top-bar .icon {
    width: 1rem; }
    .top-bar .icon.battery {
      width: auto;
      height: 1.5rem; }
  .top-bar .bold {
    font-weight: 500; }
  .top-bar .notification-icon {
    height: .6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .top-bar .notification-icon .bar {
      position: relative;
      height: 1px;
      width: .8rem;
      background: white; }
      .top-bar .notification-icon .bar:nth-child(2) {
        width: .6rem; }
      .top-bar .notification-icon .bar:before {
        content: '';
        background: white;
        width: 2px;
        height: 1px;
        position: absolute;
        left: -4px; }

.desktop {
  display: flex;
  justify-content: center;
  align-items: center; }

.finder-window {
  border: 2px solid linear-gradient(to right, #3c3c3b, #2e2e2d);
  width: 50vw;
  height: 50vh;
  border-radius: 4px;
  background: #2f2d26;
  display: grid;
  overflow: auto;
  grid-template-areas: "menu-bar menu-bar" "side-menu main" "side-menu main";
  grid-template-columns: 12.5rem 1fr;
  grid-template-rows: 4rem 1fr; }
  .finder-window nav {
    grid-area: menu-bar;
    background: linear-gradient(to top, #3c3d3c, #434342);
    border-bottom: 1px solid #131312;
    box-shadow: 0 1px 1px solid #131312;
    display: grid;
    grid-template-rows: 1.5rem 1fr; }
    .finder-window nav .head-part {
      display: grid;
      grid-template-columns: 3.5rem 1fr;
      padding: 0 .75%; }
      .finder-window nav .head-part .window-controls {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .finder-window nav .head-part .window-controls .control {
          width: 12.5px;
          height: 12.6px;
          border-radius: 50%;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center; }
          .finder-window nav .head-part .window-controls .control img {
            width: .45rem; }
          .finder-window nav .head-part .window-controls .control img, .finder-window nav .head-part .window-controls .control span {
            display: none; }
          .finder-window nav .head-part .window-controls .control.close {
            background: #fe5952; }
          .finder-window nav .head-part .window-controls .control.minimize {
            background: #e6c029; }
          .finder-window nav .head-part .window-controls .control.expand {
            background: #52c12b; }
            .finder-window nav .head-part .window-controls .control.expand .icon__css {
              position: relative;
              height: .4rem;
              width: .4rem;
              background: #005c00;
              border-radius: 1px; }
              .finder-window nav .head-part .window-controls .control.expand .icon__css:before {
                content: '';
                position: absolute;
                left: 2px;
                top: -1.8px;
                height: 10px;
                width: 2.7px;
                background: #52c12b;
                transform: rotate(-40deg); }
      .finder-window nav .head-part:hover .control img,
      .finder-window nav .head-part:hover .control span {
        display: block; }
      .finder-window nav .head-part .title-part {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #b1b1b0;
        font-size: .9rem; }
        .finder-window nav .head-part .title-part .icon {
          width: 1rem;
          margin-right: .25rem; }
    .finder-window nav .main-part {
      display: grid;
      grid-template-columns: 1fr 3fr 20rem;
      align-items: center; }
      .finder-window nav .main-part .file-navs {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 .35rem; }
        .finder-window nav .main-part .file-navs .file-nav {
          width: 1.5rem;
          height: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #606060;
          margin-right: .5rem;
          border-radius: 3px;
          cursor: pointer; }
          .finder-window nav .main-part .file-navs .file-nav img {
            height: .75rem; }
    .finder-window nav .search {
      background: #686867;
      margin-right: .5rem;
      border-radius: 4px;
      display: flex;
      align-items: center;
      height: 1.5rem;
      padding: 0 .25rem;
      position: relative; }
      .finder-window nav .search .icon {
        width: 1rem;
        margin-right: .25rem; }
      .finder-window nav .search input {
        flex: 2;
        border: none;
        background: none;
        color: #E3E3E3;
        font-size: .85rem; }
        .finder-window nav .search input:focus {
          outline: none; }
          .finder-window nav .search input:focus + .suggestions {
            display: block; }
      .finder-window nav .search .suggestions {
        display: none;
        position: absolute;
        top: 110%;
        left: 0;
        width: 95%;
        border-radius: 4px;
        background: #343430;
        border: 1px solid #10111070;
        padding: .45rem .5rem; }
        .finder-window nav .search .suggestions .label {
          font-size: .8rem;
          color: #9b9b9b;
          line-height: 1; }
        .finder-window nav .search .suggestions p {
          margin: 2px 7px;
          font-size: .9rem;
          color: #dbdbdb; }
  .finder-window aside {
    grid-area: side-menu;
    background: #3a3732;
    overflow-y: auto; }
    .finder-window aside header {
      margin-top: .5rem;
      margin-bottom: 1px;
      color: #aba8a2;
      font-weight: 500;
      padding: 2px .5rem;
      font-size: .85rem; }
    .finder-window aside .path {
      font-size: .9rem;
      padding: 2px 1rem;
      height: 1.5rem;
      color: #fefdfc;
      display: flex;
      align-items: center; }
      .finder-window aside .path:hover {
        background: #59534c; }
      .finder-window aside .path img {
        margin-right: .25rem;
        height: .9rem; }
  .finder-window main {
    grid-area: main; }

/*# sourceMappingURL=main.css.map */
